button.reserve{
    border: solid;
    border-width: 5px;
    background-color: rgb(255, 203, 5);
    border-color: rgb(42, 117, 187);
    box-shadow: 5px 2px grey;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

.reserveBox{
    border: solid;
    background-color: white;
    border-color: black;
    border-radius: .5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    max-width: 300px;
}


.material-symbols-outlined{
    color:black;
}

hr.solid {
    border-top: 3px solid black;
  }

.reviewTop{
    padding-bottom: 20px;
    font-size:22px
}

.spotDetailsPage{
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 24px;
    max-width: 1000px;
}

.reviewBox{
    margin-bottom: 20px;
}

.detail-location{
    padding-bottom: 24px;
}

.detail-name{
    padding-bottom: 18px
}

.detail-images{
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "left right";
}

.section1{
    grid-area: left;
    grid-row: span 2 ;
    grid-column: span 1;
   padding-right: 5px;
}

.section2 {
    grid-area: right;
    display: grid;
    grid-gap:5px;
grid-template-columns: repeat(2, minmax(0,1fr));
grid-template-rows: repeat(2, minmax(0,1fr));
/* grid-template-columns: repeat(auto-fill, minmax()); */
grid-template-areas: 
"a b"
"c d";
} 



.img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.one {
    grid-area: a;
}

.two {
    grid-area: b;
}

.three {
    grid-area: c;
}

.four {
    grid-area: d;
}

.previmg{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.section3{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns:  auto auto 300px;
    max-width: 1000px;
}

.reservation-box{
    padding-top: 10px;
    /* grid-area: right; */
}

.hostDetails{
    /* grid-area: left; */
    width: auto;
}

.hostDetails{
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reserveBox-top{
    display: flex;
    justify-content: space-between;
}

