html, body, input, textarea, button, select, a {
    font-family: 'Open Sans';
    font-size: 16px;
  }

  button {
    border: 0;
    background: none;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
    transition: background-color .25s, color .25s;
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
  }
  
  button:hover {
    background-color: color(srgb red green blue);
    color: rgb(240,240,240);
  }

  h1 {
    font-weight: 400;
  }